@import <url>('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

@-ms-viewport {
    width: device-width;
}

@media screen and (min-width:941px) {


    * {
        font-family: 'Crimson Pro', serif;
        box-sizing: border-box;
        margin: 0;
        text-align: center;
        padding: 0;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    html {
        font-size: 18px;
    }

    body {
        background-color: #34d5eb;
        margin-right: 15%;
        margin-left: 15%;
        padding-left: .5rem;

    }

    a {
        text-decoration: none;
        color: orangered;
        font-weight: bolder;
    }

    a:hover {
        background-color: #40a8c4;
        box-sizing: border-box;
        border-radius: 2em;
    }

    header {
        padding: 1rem;
        padding-right: 1em;
        padding-bottom: 2em;
        display: flex;
        flex-flow: row;
        justify-content: center;
        font-size: 24px;

    }

    .header__img {
        max-width: 50%;
        background-image: repeating-radial-gradient(circle, #155263, deepskyblue, #ff6f3c, #ff9a3c, #ffc93c);
    }

    .catchphrase {
        text-size-adjust: larger;
        padding: 5%;
    }

    h1 {
        text-decoration: underline;
        padding: 10%;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: column;
        align-content: center;
        height: 40%;
        background-color: #ff6f3c;

    }

    nav a {
        line-height: 1.75rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: 1rem;
        padding-left: .5rem;
        background-color: #ff6f3c;
        color: black;
        justify-content: space-between;
        align-content: space-between;

    }

    li {
        padding-left: 1rem;
        list-style: none;
    }

    ul {
        padding-left: 2rem;
    }

    p.signature {
        font-family: 'Yellowtail', cursive;
        font-size: 30px;
        padding: 1em;
    }

    main{
        background-color: #7E7F83;
        box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 9px 11px 9px rgba(0,0,0,0);
        padding: 2%;
        max-width: 95%;
        color: #000;
    }

    h2 {
        box-sizing: border-box;
        border-radius: 2em;
        max-width: 6em;
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: #40a8c4;
        color: black;
    }

    #projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-right: 1rem;
        grid-column-gap: 1rem;
        padding-bottom: 2rem;
    }

    img.amokPets {
        max-width: 95%;
    }

    img.shelterPets {
        max-width: 95%;
    }

    img.messyPet {
        max-width: 300px;
    }

    #skill__list {
        padding: 1rem;
    }

    #skillsList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 25%);
        padding-bottom: 3rem;
        padding-top: 1rem;
        text-decoration: none;
    }

    #getintouch {
        text-align-last: left;
        padding-bottom: 1rem;
    }
}


@media screen and (max-width:940px) {
    * {
        font-family: 'Crimson Pro', serif;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        line-height: 2rem;
    }

    html {
        font-size: 15px;
    }

    body {
        display: flex;
        flex-flow: column;
        background-color: #34d5eb;
        padding-top: 3rem;
        text-decoration: none;
    }

    a {
        text-decoration: none;
        color: orangered;
    }

    a:hover {
        background-color: #40a8c4;
        box-sizing: border-box;
        border-radius: 2em;
    }

    header {
        padding: 1rem;
        padding-bottom: 2em;
        display: flex;
        flex-flow: column;
        justify-content: center;

    }

    .header__img {
        max-width: 80%;
        background-image: repeating-radial-gradient(circle, #155263, deepskyblue, #ff6f3c, #ff9a3c, #ffc93c);
    }

    .catchphrase {
        padding: 5%;
    }

    h1 {
        text-decoration: underline;
        padding: 5%;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: row;
        align-content: center;
        width: 100%;
        background-color: #ff6f3c;

    }

    nav a {
        line-height: 1.25rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: .5rem;
        padding-left: .5rem;
        background-color: #ff6f3c;
        color: black;
        align-content: space-between;
        text-decoration: none;
    }

    li {
        justify-items: left;
        padding-left: 1rem;
        text-decoration: none;
    }

    ul {
        justify-items: left;
        padding-left: 1rem;
        text-decoration: none;
    }

    p.signature {
        font-family: 'Yellowtail', cursive;
        font-size: 30px;
        padding: 1em;
    }

    h2 {
        box-sizing: border-box;
        border-radius: 2em;
        max-width: 6em;
        padding-right: .5rem;
        padding-left: 1rem;
        background-color: #40a8c4;
        color: black;
    }

    main{
        background-color: #7E7F83;
        box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 9px 11px 9px rgba(0,0,0,0);
        padding: 2%;
        max-width: 95%;
        color: #000;
    }

    #projects {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    img.amokPets {
        max-width: 95%;
    }

    img.shelterPets {
        max-width: 95%;
    }

    img.messyPet {
        max-width: 95%;
    }

    #skill__list {
        padding: 2rem;
        text-decoration: none;
    }

    #skillsList {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: left;
        text-decoration: none;
    }

    #getintouch {
        text-align-last: left;
        text-decoration: none;
    }
}