@import <url>('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

@-ms-viewport {
    width: device-width;
}
@media screen and (max-width:1191px){


* {
    font-family: 'Crimson Pro', serif;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    padding: 0;
    line-height: 2rem;
    color: orangered;
}

html {
    font-size: 24px;
}

body {
    background-color: #155263;
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 2rem;

}

a {
    text-decoration: none;
    color: orangered;
}

a:hover {
    background-color: #40a8c4;
    box-sizing: border-box;
    border-radius: 2em;
}

header {
    padding: 1rem;
    padding-right: 1em;
    padding-bottom: 2em;
    display: flex;
    flex-flow: row;
    justify-content: center;

}

.header__img {
    max-width: 60%;
    background-image: repeating-radial-gradient(circle, #155263, deepskyblue, #ff6f3c, #ff9a3c, #ffc93c);
}

.catchphrase {
    text-size-adjust: larger;
    padding: 5%;
}

h1 {
    text-decoration: underline;
    padding: 10%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    align-content: center;
    height: 40%;
    background-color: #ff6f3c;

}

nav a {
    line-height: 1.75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: .5rem;
    background-color: #ff6f3c;
    color: black;
    justify-content: space-between;
    align-content: space-between;

}

li {
    padding-left: 1rem;
}

ul {
    padding-left: 2rem;
}

p.signature {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    padding: 1em;
}

h2 {
    box-sizing: border-box;
    border-radius: 2em;
    max-width: 6em;
    -webkit-box-shadow: 9px 9px 12px 8px rgba(255, 173, 18, 0.5);
    box-shadow: 9px 9px 12px 8px rgba(255, 173, 18, 0.5);
    padding-right: .5rem;
    padding-left: .5rem;
    background-color: #40a8c4;
    color: black;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto;
    padding-right: 1rem;
    grid-column-gap: 1rem;
    padding-bottom: 2rem;
}

/* img.comingSoon {
    max-width: 30%;
} */

img.amokPets {
    max-width: 200px;
}

img.shelterPets {
    max-width: 200px;
}

img.messyPet {
    max-width: 200px;
}

#skill__list {
    padding: 2rem;
}

#skillsList {
    display: grid;
    grid-template-columns: repeat(3, 40%);
    grid-template-rows: repeat(4, 25%);
    padding-bottom: 3rem;
    padding-top: 1rem;
}

#getintouch {
    text-align-last: left;
}
}
@media screen and (max-width:500px){
    *{
        font-family: 'Crimson Pro', serif;
        box-sizing: border-box;
        margin: 0;
        text-align: center;
        padding: 0;
        line-height: 2rem;
        color: orangered;
    }
    
    html {
        font-size: 24px;
    }
    
    body {
        background-color: #155263;
        margin-right: 2%;
        margin-left: 2%;
        padding-top: 2rem;    
    }
    
    a {
        text-decoration: none;
        color: orangered;
    }
    
    a:hover {
        background-color: #40a8c4;
        box-sizing: border-box;
        border-radius: 2em;
    }
    
    header {
        padding: 1rem;
        padding-right: 1rem;
        padding-bottom: 2em;
        display: flex;
        flex-flow: row;
        justify-content: center;
    
    }
    
    .header__img {
        max-width: 60%;
        background-image: repeating-radial-gradient(circle, #155263, deepskyblue, #ff6f3c, #ff9a3c, #ffc93c);
    }
    
    .catchphrase {
        text-size-adjust: larger;
        padding: 5%;
    }
    
    h1 {
        text-decoration: underline;
        padding: 10%;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-flow: row;
        align-content: center;
        width: 100%;
        background-color: #ff6f3c;
    
    }
    
    nav a {
        line-height: 1.25rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: 1rem;
        padding-left: .5rem;
        background-color: #ff6f3c;
        color: black;
        align-content: space-between;
    
    }
    
    li {
        padding-left: 1rem;
    }
    
    ul {
        padding-left: 1rem;
    }
    
    p.signature {
        font-family: 'Yellowtail', cursive;
        font-size: 30px;
        padding: 1em;
    }
    
    h2 {
        box-sizing: border-box;
        float: left;
        border-radius: 2em;
        max-width: 6em;
        -webkit-box-shadow: 9px 9px 12px 8px rgba(255, 173, 18, 0.5);
        box-shadow: 9px 9px 12px 8px rgba(255, 173, 18, 0.5);
        padding-right: .5rem;
        padding-left: .5rem;
        background-color: #40a8c4;
        color: black;
    }
    
    #projects {
        display: grid;
        grid-template-columns: repeat(1, 50%);
        grid-template-rows: auto;
        padding-right: 1rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    
    /* img.comingSoon {
        max-width: 30%;
    } */
    
    img.amokPets {
        max-width: 200px;
    }
    
    img.shelterPets {
        max-width: 200px;
    }
    
    img.messyPet {
        max-width: 200px;
    }
    
    #skill__list {
        padding: 2rem;
    }
    
    #skillsList {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(6, 25%);
        grid-row-gap: 1rem;
        padding-top: 1rem;
    }
    
    #getintouch {
        text-align-last: left;
    }
}